.product {
  margin: 0 0 20px;

  h2 {
    margin: 0 0 20px;
  }

  #star {
    margin: 0 0 20px;
  }

  img.main { 
    border: 0;
    width: 100%;
  }
}

footer {
  background:black;
  text-align: center;
  -webkit-border-radius: 15px;
  height: 20px; 
  position: relative;
}